# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# AI Models
backend/models/

# Dataset Files
backend/data/
*.zip
*.csv

# Jupyter / Training
.ipynb_checkpoints/

# OS files
Thumbs.db

# Build cache
.cache/
backend/venv/
backend/data/
backend/models/
frontend/node_modules/
backend/scripts/*.exe
backend/scripts/activate*
backend/scripts/deactivate*

# Generated PDFs
*.pdf

# ngrok
ngrok.yml